*{
    font-family: 'Heebo', sans-serif;
}

.navbar{
    background-color: rgb(124, 124, 124);
}

.navbar ul{
    padding: 0;
    list-style: none;
}

.navbar li{
    font-size: 18px;
    padding-right: 15px;
    display: inline;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    color: yellowgreen;
}

.parallax{
    background-image:  url("/Resources/background.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#name-fade-effect{
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 48px;
    letter-spacing: 0.25em;
    overflow: hidden;
    letter-spacing: 0.25em;
}

body {
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.fadeIn-2{
    text-align: center;
    color: white;
}

.fadeIn-4{
    text-align: center;
    color: white;
    padding-top: 25px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 15px;
}

#about-me{
    height: 600px;
}

footer{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
