*{
    font-family: 'Heebo', sans-serif;
}

.navbar{
    background-color: rgb(124, 124, 124);
}

.navbar ul{
    padding: 0;
    list-style: none;
}

.navbar li{
    font-size: 25px;
    padding-right: 15px;
    display: inline;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    color: yellowgreen;
}

.parallax{
    background-image:  url("/Resources/img/background.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#name-fade-effect{
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 25px;
    overflow: hidden;
    letter-spacing: 0.25em;
    word-spacing: 15px;
    font-size: 48px;
    line-height: 48px;
}

h1{
    letter-spacing: 0.1em;
    word-spacing: 5px;
    font-size: 48px;
    color: lightgreen;
}

h3{
    font-size: 30px;
    color: darkgreen;
}

hr{
    width: 15%;
}

p{
    font-size: 18px;
    color: darkgreen;
}

#about-me{
    width: 70%;
    margin: auto;
}

#tech-stack{
    width: 70%;
    margin: auto;
}

#projects{
    width: 70%;
    margin: auto;
}

body {
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.fadeIn-2{
    text-align: center;
    color: white;
}

.fadeIn-4{
    text-align: center;
    color: white;
    padding-top: 25px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 25px;
    text-align: center;
}

.img-sizing{
    width: 90px;
    height: 90px;
    padding: 0px 5px;
}

tr p{
    text-align: center;
    overflow: visible;
}

footer{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Responsive changes needed for mobile and tablets */
@media only screen and (max-width: 600px){
    #name-fade-effect{
        word-spacing: 5px;
        font-size: 32px;
    }

    h1{
        font-size: 32px;
    }

    p{
        font-size: 15px;
    }

    #about-me{
        width: 80%;
        margin: auto;
    }
}
