*{
    font-family: 'Heebo', sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgb(124, 124, 124);
}

.navbar ul{
    padding: 0;
    list-style: none;
}

.navbar li{
    font-size: 25px;
    padding-right: 15px;
    display: inline;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.navbar li a:hover{
    color: rgb(146, 208, 80);
}

i{
   font-size: 1.5em;
}

i:hover{
    color: rgb(146, 208, 80);
    cursor: pointer;
}

.parallax{
    background-image:  url("/Resources/img/background.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#name-fade-effect{
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 25px;
    overflow: hidden;
    letter-spacing: 0.25em;
    word-spacing: 15px;
    font-size: 48px;
    line-height: 48px;
}

#name-fade-effect p{
    color: white;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-bottom: 10px;
}

.smooth-scroll-buttons{
    padding: 5px 10px;
}

.smooth-scroll-buttons a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    transition: font-size 0.5s;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.smooth-scroll-buttons a:hover{
    color: rgb(146, 208, 80);
    font-size: 32px;
    text-decoration: underline;
}

h1{
    letter-spacing: 0.1em;
    word-spacing: 5px;
    font-size: 48px;
    color: rgb(146, 208, 80);
}

h3{
    font-size: 30px;
    color: rgb(0, 176, 80);
}

hr{
    width: 15%;
}

p{
    font-size: 18px;
    color: rgb(0, 176, 80);
}

.container hr{
    margin-bottom: 30px;
}

.grid-container-languages{
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px;
    justify-content: center;
    align-items: center;
    grid-gap: 35px;     
}

.grid-container-frameworks{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    justify-content: center;
    align-items: center;
    grid-gap: 35px;     
}

.grid-container-other{
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    justify-content: center;
    align-items: center;
    grid-gap: 35px;     
}

.grid-container-projects{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 35px; 
}

.grid-item{
    justify-self: center;
}

.project-card{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px 10px;
    transition: 0.5s;
}

.project-card:hover{
    border: 2px solid rgb(146, 208, 80);
    padding: 35px 25px;
}

#about-me{
    width: 70%;
    margin: auto;
}

#tech-stack{
    width: 70%;
    margin: auto;
}

#projects{
    width: 70%;
    margin: auto;
}

body {
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

/* 
    -moz support Firefox browsers v5-15
    -webkit support Safari v4-5 and Chrome browsers v4-42
    -o support Opera browsers v15-29

    All of these browsers in after these version support
    animations without the use of their specified tags

    Animations before the specified versions are not
    supported and will not run.
*/

.waitTime-2{
    animation: hold-Invisability;
    animation-duration: 0.5s;
    -moz-animation: hold-Invisability;
    -moz-animation-duration: 0.5s;
    -webkit-animation: hold-Invisability;
    -webkit-animation-duration: 0.5s;
    -o-animation: hold-Invisability;
    -o-animation-duration: 0.5s;
}

.waitTime-4{
    padding-top: 15px;
    animation: hold-Invisability;
    animation-duration: 2.5s;
    -moz-animation: hold-Invisability;
    -moz-animation-duration: 2.5s;
    -webkit-animation: hold-Invisability;
    -webkit-animation-duration: 2.5s;
    -o-animation: hold-Invisability;
    -o-animation-duration: 2.5s;
}

.waitTime-6{
    animation: hold-Invisability;
    animation-duration: 4.5s;
    -moz-animation: hold-Invisability;
    -moz-animation-duration: 4.5s;
    -webkit-animation: hold-Invisability;
    -webkit-animation-duration: 4.5s;
    -o-animation: hold-Invisability;
    -o-animation-duration: 4.5s;
}

.fadeIn-2{
    animation: fadeIn-2;
    animation-delay: 0.5s;
    animation-duration: 2s;
    -moz-animation: fadeIn-2;
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 2s;
    -webkit-animation: fadeIn-2;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 2s;
    -o-animation: fadeIn-2;
    -o-animation-delay: 0.5s;
    -o-animation-duration: 2s;
}

.fadeIn-4{
    animation: fadeIn-4;
    animation-delay: 2.5s;
    animation-duration: 2s;
    -moz-animation: fadeIn-4;
    -moz-animation-delay: 2.5s;
    -moz-animation-duration: 2s;
    -webkit-animation: fadeIn-4;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-duration: 2s;
    -o-animation: fadeIn-4;
    -o-animation-delay: 2.5s;
    -o-animation-duration: 2s;
}

.fadeIn-6{
    animation: fadeIn-6;
    animation-delay: 4.5s;
    animation-duration: 2s;
    -moz-animation: fadeIn-6;
    -moz-animation-delay: 4.5s;
    -moz-animation-duration: 2s;
    -webkit-animation: fadeIn-6;
    -webkit-animation-delay: 4.5s;
    -webkit-animation-duration: 2s;
    -o-animation: fadeIn-6;
    -o-animation-delay: 4.5s;
    -o-animation-duration: 2s;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 25px;
    text-align: center;
}

.img-sizing{
    width: 90px;
    height: 90px;
    padding: 0px 10px;
}

tr p{
    text-align: center;
    overflow: visible;
}

footer{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Responsive changes needed for mobile and tablets */
@media only screen and (max-width: 1250px){
    .grid-container-languages{
        grid-template-columns: 90px 90px 90px;
    }

    .grid-container-frameworks{
        grid-template-columns: 90px 90px 90px;
    }

    .grid-container-other{
        grid-template-columns: 90px 90px;
    }
}

@media only screen and (max-width: 800px){
    .grid-container-projects{
        grid-template-columns: auto;
    }

    #about-me{
        width: 100%;
        margin: auto;
    }

    #tech-stack{
        width: 90%;
        margin: auto;
    }

    #projects{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 600px){
    #name-fade-effect{
        word-spacing: 5px;
        font-size: 32px;
        line-height: 32px;
    }

    h1{
        font-size: 32px;
    }

    p{
        font-size: 15px;
    }

    .grid-container-languages{
        grid-template-columns: 90px 90px;
    }

    .grid-container-frameworks{
        grid-template-columns: 90px 90px;
    }

    .grid-container-other{
        grid-template-columns: 90px 90px;
    }

    .smooth-scroll-buttons{
        width: 70%;
        margin: auto;
        font-size: 20px;
    }

    .smooth-scroll-buttons a:hover{
        font-size: 28px;
    }

    #about-me{
        width: 100%;
        margin: auto;
    }

    #projects{
        width: 100%;
        margin: auto;
    }

    #tech-stack{
        width: 100%;
        margin: auto;
    }
}

@keyframes hold-Invisability{
    from{ opacity: 0; }
    to{ opacity: 0; }
}

@keyframes fadeIn-2{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@keyframes fadeIn-4{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@keyframes fadeIn-6{
    from{ opacity: 0; }
    to{ opacity: 1; }
}